extends ../layout

block content
	main(class='container-fluid')
		div(class='row justify-content-center')
			div(class='col-md-8')
				header
					div(class='d-flex justify-content-between align-items-center')
						h1= category.name
						div
							a(href=`${category.url}/update` class='link-primary') Update
							a(href=`${category.url}/delete` class='link-danger ms-3') Delete
					p= category.description
				if categoryItems.length === 0
					h2(class='text-center') No Items in this category.
				else
					table(class='table align-middle')
						thead
							tr
								th(scope='col' class='text-center') Name
								th(scope='col') Price
								th(scope='col') Stock
						tbody
							each categoryItem in categoryItems
								tr
									td(class='d-flex align-items-center')
										div(class='item-list-img-container')
											a(href=categoryItem.url)
												img(src=`/images/${categoryItem.image}` alt='Item image')
										div(class='ms-3')
											a(href=categoryItem.url)
												p(class='mb-0')= categoryItem.name
									td(class='fw-bold')= `$${categoryItem.price}`
									td= categoryItem.stock
