extends ../layout

block content
	main(class='container-fluid')
		div(class='row justify-content-center')
			div(class='col-sm-6 col-lg-4')
				include ../includes/formError.pug
				h1= title
				form(method='POST' action='')
					div(class='mb-3')
						input(
							type='text' 
							class='form-control' 
							name='name' 
							value=(category ? category.name : '') 
							placeholder='Name' 
							minlength='3' 
							maxlength='100'
							required 
						)
					div(class='mb-3')
						textarea(
							class='form-control'
							name='description' 
							placeholder='Description' 
							minlength='10' 
							maxlength='500' 
							required 
						)= category ? category.description : ''
					if action === 'update'
						div(class='mb-3')
							input(
								type='password' 
								class='form-control' 
								name='adminPassword' 
								placeholder='Admin Password'
								maxlength='18' 
								required 
							)
					button(type='submit' class='btn btn-primary') Submit
