extends ../layout

block content
	main(class='container-fluid')
		div(class='row justify-content-center')
			div(class='col-md-8')
				include ../includes/formError.pug
				header(class='d-flex align-items-center mb-2')
					div(class='item-detail-img-container')
						img(src=`/images/${item.image}` alt='Item image')
					h1(class='ms-3')= item.name
				p Do you really want to delete this item?
				form(method='POST' action='' class='mt-3')
					div(class='mb-3')
						input(
							type='hidden' 
							class='form-control' 
							name='itemId' 
							value=item._id
							required 
						)
					div(class='mb-3')
						input(
							type='password' 
							class='form-control' 
							name='adminPassword' 
							placeholder='Admin Password'
							maxlength='18' 
							required 
						)
					button(type='submit' class='btn btn-danger') Delete
