extends ../layout

block content
	- const specifications =  item.description.split(',');

	main(class='container-fluid')
		div(class='row justify-content-center')
			div(class='col-md-8')
				header
					div(class='d-flex justify-content-between align-items-center mb-2')
						div(class='d-flex align-items-center')
							div(class='item-detail-img-container')
								img(src=`/images/${item.image}` alt='Item image')
							h1(class='ms-3')= item.name
						div
							a(href=`${item.url}/update` class='link-primary') Update
							a(href=`${item.url}/delete` class='link-danger ms-3') Delete
					a(href=item.category.url class='d-inline-block mb-1')= `${item.category.name} category`
					p(class='fs-4 fw-bold mb-1')= `$${item.price}`
					p(class='mb-1')= `Stock: ${item.stock}`
				ul(class='list-group mt-3')
					h2 Specifications:
					each specification in specifications
						li(class='list-group-item')= specification
