extends ../layout

block content
	main(class='container-fluid')
		div(class='row justify-content-center')
			div(class='col-sm-6 col-lg-4')
				include ../includes/formError.pug
				h1= title
				form(method='POST' action='' enctype='multipart/form-data')
					div(class='mb-3')
						input(
							type='text' 
							class='form-control' 
							name='name' 
							value=(item ? item.name : '') 
							placeholder='Name' 
							maxlength='100'
							required 
						)
					div(class='mb-3')
						textarea(
							class='form-control'
							name='description' 
							placeholder='Description' 
							minlength='10' 
							maxlength='500' 
							required 
						)= item ? item.description : ''
					div(class='mb-3')
						select(
							class='form-select'
							id='item-category'
							name='category'
							placeholder='Select category'
							required
						)
							option(value='') -- Select category --
							each category in categories
								if item
									option(
										value=category._id 
										selected=(item.category.toString() === category._id.toString() ? 'selected' : false)
									)= category.name
								else
									option(value=category.id)= category.name
					div(class='mb-3')
						input(
							type='number' 
							class='form-control' 
							name='price' 
							value=(item ? item.price : '') 
							placeholder='Price' 
							min=0
							max=999999
							step='0.01'
							required 
						)
					div(class='mb-3')
						input(
							type='number' 
							class='form-control' 
							name='stock' 
							value=(item ? item.stock : '') 
							placeholder='Stock' 
							min=0
							max=999999
							required 
						)
					div(class='mb-3')
						- const itemImageLabelText = `Select image for this part. ${action === 'update' ? '(Leave this field blank to use the old image)' : ''}`;
						label(for='itemImage' class='form-label')= itemImageLabelText
						input(
							type='file' 
							class='form-control' 
							id='itemImage'
							name='image' 
							required=(action === 'create')
						)
					if action === 'update'
						div(class='mb-3')
							input(
								type='password' 
								class='form-control' 
								name='adminPassword' 
								placeholder='Admin Password'
								maxlength='18' 
								required 
							)
					button(type='submit' class='btn btn-primary') Submit
